body {
    background-color: #126c2c;
}

#back_icon {
    display: block;
    height: 25px;
    width: 25px;
    color: #efe7d8;
    scale: 3;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 1;
}

#container {
    position: relative;
    top: 10px;
}

#plant_img {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

#text {
    position: absolute;
    width: 80%;
}

#name {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    white-space: pre-line;
    color: #efe7d8;
    display: flex;
    justify-content: center;
}

#info {
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    width: 120%;
    white-space: pre-line;
    color: #efe7d8;
}

@media (min-width: 1024px) {
    #plant_img {
        width: 50%;
        left: 35%;
        height: 600px;
    }
    #text {
        top: 0;
        left: 75%;
        width: 20%;
    }
    #name {
        left: 0;
        transform: none;
        width: auto;
        justify-content: flex-start;
    }
    #info {
        position: absolute;
        left: 30%;
        width: 180%;
    }
    #menu {
        width: 25%;
    }
}