h1, h2, p {
    color: #055300;
}

a {
    color: #000;
    font-weight: bold;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: -1;
}

#background_blur {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

#burger {
    scale: 2;
    position: relative;
    top: 10px;
    left: 10px;
}

#menu {
    position: fixed;
    background-color: #104a13;
    height: 100%;
    width: 50%;
    top: 50%;
    transform: translate(-105%, -50%);
    z-index: 1;
}

#menu.show {
    animation: show 1s forwards;
}

#menu.hide {
    animation: hide 1s forwards;
}

@keyframes show {
    from {
        transform: translate(-105%, -50%);
    }
    to {
        transform: translate(-5%, -50%);
    }
}

@keyframes hide {
    from {
        transform: translate(-5%, -50%);
    }
    to {
        transform: translate(-105%, -50%);
    }
}

@media (min-width: 1024px) {
    #menu {
        width: 25%;
    }
    #title_img {
        width: 50%;
        height: 165%;
    }
}

#menus {
    position: fixed;
    top: 20px;
    width: 100%;
    display: grid;
    gap: 5px;
}

.buttons {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.button:active {
    background-color: #004010;
}

#home {
    background-color: #004010;
}

#title {
    display: flex;
    justify-content: center;
}

#intro {
    position: relative;
    height: 20%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e5e7bda1;
    padding: 25px;
    border-radius: 20px
}

#intro_text {
    width: 45%;
}

#title_dotted_line {
    border-top: 2px solid #b0c73c;
    width: 100%;
}

#info_intro {
    word-break: break-all;
}

#title_img {
    height: 90%;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 20px;
}

@media (max-width: 375px) {
    #title_img {
        height: 70%;
        width: 50%;
        right: 0px;
    }
}

#minimenu_container {
    position: relative;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 85%;
    background-color: #b7fb0d52;
    display: flex;
    gap: 5%;
    padding: 15px;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.box {
    width: 30%;
    height: 90%;
    background: #1e8d17;
    border-radius: 15px;
}

.box_title, .box_text {
    display: flex;
    justify-content: center;
    color: #cffbd9;
}

.box_title {
    background-color: #409b39;
}