h2, p {
    color: #00380c;
}

a {
    color: #000;
    font-weight: bold;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: -1;
}

#background_blur {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

#burger {
    scale: 2;
    position: relative;
    top: 10px;
    left: 10px;
}

#menu {
    position: fixed;
    background-color: #104a13;
    height: 100%;
    width: 50%;
    top: 50%;
    transform: translate(-105%, -50%);
    z-index: 1;
}

#menu.show {
    animation: show 1s forwards;
}

#menu.hide {
    animation: hide 1s forwards;
}

@media (min-width: 1024px) {
    #menu {
        width: 25%;
    }
}

@keyframes show {
    from {
        transform: translate(-105%, -50%);
    }
    to {
        transform: translate(-5%, -50%);
    }
}

@keyframes hide {
    from {
        transform: translate(-5%, -50%);
    }
    to {
        transform: translate(-105%, -50%);
    }
}

@media (min-width: 1024px) {
    #menu {
        width: 25%;
    }
    #title_img {
        width: 50%;
        height: 165%;
        top: 50%;
    }
}

#menus {
    position: fixed;
    top: 20px;
    width: 100%;
    display: grid;
    gap: 5px;
}

.buttons {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.button:active {
    background-color: #004010;
}

#home {
    background-color: #004010;
}

#title {
    color: #000;
    display: flex;
    justify-content: center;
}

#intro {
    display: flex;
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f3ffd578;
    padding: 30px;
    border-radius: 30px;
}

#intro_text {
    width: 48%;
}

#info_intro {
    word-break: break-all;
}

#title_img {
    width: 25%;
    height: 80%;
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 20px;
}

#minimenu_container {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 90%;
    background-color: #b7fb0d52;
    display: flex;
    gap: 5px;
    padding: 20px;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
}

.box {
    width: 33%;
    height: 90%;
    background: #1e8d17;
    border-radius: 20px;
}