#background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

#back_icon {
    display: block;
    height: 25px;
    width: 25px;
    color: #efe7d8;
    scale: 3;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 1;
}